@import url("https://fonts.cdnfonts.com/css/glass-antiqua");
@import url("https://fonts.cdnfonts.com/css/josefin-sans?styles=19764");
body {
  padding: 0;
  margin: 0;
}

.headerfullbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #00344A;
  padding: 0px;
  gap: 170px;
  position: absolute;
  height: 100px;
}

.titleheader {
  color: white;
  font-size: 380%;
  margin-left: 18px;
  font-family: "Glass Antiqua", sans-serif;
  text-decoration: none;
}

.buttonsheader {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 135%;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}

.programacionheader,
.escueladeartesheader,
.alquilerteatroheader {
  text-decoration: none;
  color: white;
}

.programacionheader:hover,
.escueladeartesheader:hover,
.alquilerteatroheader:hover,
.exposicionesheader:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBFF00;
  color: #00344A;
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 90%;
  height: 40px;
  text-decoration: none;
}

.iconsheader {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.carritoheader,
.usuarioheader {
  width: 50px;
  height: 50px;
}

.carritoheader:hover,
.usuarioheader:hover {
  cursor: pointer;
}

.fullbody {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.principalimagebox {
  margin-top: 100px;
}

.principalimagetext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: absolute;
  margin-top: 150px;
  margin-left: 480px;
}

.principalimgtitle {
  font-family: "Glass Antiqua", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 600%;
  text-align: center;
}

.principalimgline {
  background-color: #EBFF00;
  width: 5px;
  height: 400px;
}

.principalimgoptions {
  font-family: "Glass Antiqua", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 500%;
}

.principalimage {
  width: 100%;
  height: 750px;
}

.inscripcionestitle {
  font-family: "Josefin Sans", sans-serif;
  color: #00344A;
  font-size: 250%;
  text-align: center;
}

.iconospart {
  display: flex;
  flex-direction: row;
  gap: 250px;
  justify-content: center;
}

.teatropart,
.musicapart,
.danzapart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.escuelaicon {
  width: 170px;
  height: 170px;
}

.escuelaicon:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px #EBFF00;
}

.escuelatext {
  font-family: "Josefin Sans", sans-serif;
  color: #00344A;
  font-size: 200%;
  font-weight: 600;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  gap: 0px;
  margin-top: 150px;
}

.imgprefooter {
  width: 100%;
  height: 150px;
}

.contenidofooter {
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
  padding: 30px;
}

.logofooter {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 0px;
}

.logoimagefooter {
  width: 290px;
  height: auto;
}

.logotextfooter {
  font-size: 450%;
  font-family: "Glass Antiqua", sans-serif;
  color: #0C2F49;
  font-weight: 600;
}

.iconosfooter {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.iconossocial {
  width: 60px;
  height: 60px;
}

.textpartfooter {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.columnafooter {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.textfooter {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 200%;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }
  .headerfullbox {
    display: flex;
    flex-direction: row;
    background-color: #00344A;
    padding: 0px;
    height: 50px;
    gap: 140px;
    position: absolute;
  }
  .titleheader {
    color: white;
    font-size: 200%;
    margin-left: 10px;
    margin-top: 3px;
    font-family: "Glass Antiqua", sans-serif;
  }
  .buttonsheader {
    display: none;
  }
  .iconsheader {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .carritoheader {
    width: 25px;
    height: auto;
  }
  .carritoheader:hover {
    cursor: pointer;
  }
  .usuarioheader {
    width: 25px;
    height: auto;
  }
  .usuarioheader:hover {
    cursor: pointer;
  }
  .fullbody {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .principalimagebox {
    margin-top: 50px;
  }
  .principalimagetext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    margin-top: 60px;
    margin-left: 50px;
  }
  .principalimgtitle {
    font-family: "Glass Antiqua", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 180%;
    text-align: center;
  }
  .principalimgline {
    background-color: #EBFF00;
    width: 3px;
    height: 150px;
  }
  .principalimgoptions {
    font-family: "Glass Antiqua", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 180%;
  }
  .principalimage {
    width: 100%;
    height: 250px;
  }
  .inscripcionestitle {
    font-family: "Josefin Sans", sans-serif;
    color: #00344A;
    font-size: 200%;
    text-align: center;
  }
  .iconospart {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
  }
  .teatropart,
  .musicapart,
  .danzapart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .escuelaicon {
    width: 100px;
    height: auto;
  }
  .escuelaicon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px #EBFF00;
  }
  .escuelatext {
    font-family: "Josefin Sans", sans-serif;
    color: #00344A;
    font-size: 200%;
    font-weight: 600;
    text-align: center;
  }
  .footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 0px;
    width: 100%;
    margin-top: 40px;
  }
  .imgprefooter {
    width: 100%;
    height: auto;
  }
  .contenidofooter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 10px;
  }
  .logofooter {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-left: 0px;
  }
  .logoimagefooter {
    width: 70px;
    height: auto;
  }
  .logotextfooter {
    font-size: 120%;
    font-family: "Glass Antiqua", sans-serif;
    color: #0C2F49;
    font-weight: 600;
  }
  .iconosfooter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
  }
  .iconossocial {
    width: 15px;
    height: 15px;
  }
  .textpartfooter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .columnafooter {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .textfooter {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 50%;
    font-weight: 500;
  }
}

/*# sourceMappingURL=escuelaartes.css.map */
